/*  <<< CSS RESET FILE >>>  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquotebefore, blockquoteafter,
qbefore, qafter {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

/*  <<< \CSS RESET FILE >>>  */

/*  <-- PARALLAX SETTINGS -->  */
.parallax {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-areas: "stack";
    animation: page-load linear 1.5s;
}
.parallax > *{
    grid-area: stack;
}
.parallax>img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    user-select: none;
}
.para{
    scale: 1.05;
}
#para-10{
    translate: -100;
    
    /* Ship transition variables > used for smooth ship transition */
    --ship-pos-x: 0px;
    --ship-pos-y: 0px;
}
.ship-travails{
    animation: 42s ship-travails linear infinite;
}



@keyframes ship-travails {
    from{
        transform: translate(-100%);
    }
    to{
        transform: translate(150%);
    }
}

/*  <-- \PARALLAX SETTINGS -->  */
@keyframes page-load {
    from{
        opacity: 0;
        scale: 1.15;
    } 
    to{
        opacity: 1;
        scale: 1;
    }
}
:root{ 
    background-color: #160038;
    overflow: hidden;
    font-family: Helvetica, sans-serif, Arial;

    --color: #c1f3f3;
    --focus-color: #10a7a7;
    --input-blue-color: #006595;



}
h1{
    color: var(--color);
    font-size: 46px;
    font-weight: bold;
}
h2{
    color: var(--color);
    font-size: 22px;
    font-weight: bold;
}
.form-container{
    top: 32%;
    left: 38%;
    right: 38%;

    top: 32vh;
    left: 38vw;
    right: 38vw;

    height: 330px;
    width: 400px;
    position: absolute;
    background-color: var(--background-color);
    background-color: rgba(0, 13, 31, 0.7);
}
.hero-container{
    text-align: center;
    align-self: flex-start;
    justify-self: center;
}
.header-container{
    align-items: center;
    text-align: center;
    margin-top: 5%;
}
form{
    display: flex;
    flex-direction: column;
    padding: 15% 15%;
}
.gap{
    margin-top: 15px;
}
input{
    background-color: rgba(0, 13, 31, 1);
    color: #ffffff;
    border: none;
    outline: none;
    border-top: 1px solid black;
    border-bottom: 1px solid var(--input-blue-color);
    font-size: 20px;
    padding: 1% 5%;
}
input::placeholder{
    color: var(--input-blue-color);
}
input:focus::placeholder{
    background-color: rgba(0, 13, 31, 1);
    color: var(--focus-color);
}
input:focus{
    outline: none;
    border: 1px solid var(--focus-color);
    box-shadow: 0 0 10px var(--focus-color);
}
input:-webkit-autofill{
    -webkit-text-fill-color: white;   
    -webkit-background-clip: text;
}
#btn-play {
    border-radius: 15px;
    padding: 0.6rem 1.7rem;
    background-image: linear-gradient(to right, #1A428F 0%, #10a7a7  51%, #1A428F  100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: var(--color);
    border: none;  
    display: block;
    cursor: pointer;
    transition-duration: 0.4s;
    min-width: 100px;
}
#btn-play:hover {
    background-position: right center;
    text-decoration: none;
    cursor: pointer;
}

/* <-- BTN ANIMATIONS --> */
#btn-play:active{
    animation: btn-submit 0.15s ease-in-out;
}
.btn-submit-active{
    animation: btn-submit 0.3s ease-in-out;
}
@keyframes btn-submit {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.95);
    }
}
#btn-container{
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-top: 10%;
}
#btn-flex-container{
    margin-top: auto;
    display: flex;
}
button#btn-play:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 20px #10a7a7;
    border-radius: 15px;
}
button#btn-play:active:after {
    box-shadow: 0 0 0 0 #10a7a7;
    border-radius: 15px;
    position: absolute;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}
button#btn-play:focus{
    outline: 2px solid var(--focus-color);
}
/* <-- \BTN ANIMATIONS --> */







html, body {
    background-color: #0A001A;
    overflow: hidden;
    display: flex;
    width: 100dvw;
    height: 100dvh;
    width: 100vw;
    height: 100vh; 
    box-sizing: content-box;
    box-sizing: border-box;
}
#content{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: red;
}
#player-input-container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
#input-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: yellowgreen;
    border: 2px solid red;
    padding: 5vh;
}
#player-container{
    display: flex;
    flex-direction: column;
}


/* PARALLAX TRANSITION */
.transition-para-1{
    animation: 2.7s background-transition linear forwards;
}
.transition-para-2{
    animation: 2.7s moon-transition linear forwards;
}
.transition-para-3{
    animation: 2.7s left-transition linear forwards;
}
.transition-para-4{
    animation: 2.7s right-transition linear forwards;
}
.transition-para-5{
    animation: 2.7s right-transition linear forwards;
}
.transition-para-6{
    animation: 2.7s left-transition linear forwards;
}
.transition-para-7{
    animation: 2.7s right-transition linear forwards;
}
.transition-para-8{
    animation: 2.7s left-transition linear forwards;
}
.transition-para-9{
    animation: 2.7s down-transition linear forwards;
}
.transition-para-10{
    animation: 2.7s ship-transition linear forwards;
}
.transition-form-container {
    animation: 2.7s form-container-transition linear forwards;
}
.sunrise-background-color{
    animation: root-background linear 2.7s forwards; 
}
@keyframes form-container-transition {
    to {
        transform: translateY(15vh);
        transform: translateY(-20vh);
        scale: 2.5;
        opacity: 0;
        display: none;
    }
}
@keyframes background-transition {
    to {
        transform: translateY(15vh);
        scale: 2.5;
        opacity: 0;
        display: none;
    }
}
@keyframes ship-transition {
    from{
        transform: translate(var(--ship-pos-x), var(--ship-pos-y));
    }
    to {
        opacity: 0;
        transform: translate(150%);
        display: none;
    }
}
@keyframes moon-transition {
    to {
        transform: translateY(15vh);
        transform: translateY(-20vh);
        scale: 2.5;
        opacity: 0;
        display: none;
    }
}
@keyframes right-transition {
    to {
        transform: translateX(-110vw);
        display: none;
    }
}
@keyframes left-transition {
    to {
        transform: translateX(110vw);
        display: none;
    }
}
@keyframes down-transition {
    to {
        transform: translateY(8vh);
        display: none;
    }
}
@keyframes root-background{
    from {
        background-color: #160038;
    }
    to {
        background-color: #5C0C43;
    }
}
@keyframes daylight-transition{
    from {
        background-color: #160038;
    }
    to {
        background-color: #5C0C43;
    }
}
/* \PARALLAX TRANSITION */


/* SHIP CABIN */
.cabin-fade-in-transition{
    animation: 2s cabin-fade-in ease-in forwards;
}
@keyframes cabin-fade-in {
    from{
        opacity: 0;
        scale: 1.35;
    } 
    to{
        opacity: 1;
        scale: 1;
    }
}
.bottle-rolling{
    animation: 2s bottle-roll ease-in infinite alternate;
}
.pirate-idle{
    animation: 6s pirate-idle ease-in infinite alternate;
}
@keyframes bottle-roll {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(2%, -1%);
    }
}
@keyframes pirate-idle {
    from {
        transform: translateY(0px);
        transform: scale(1);
    }
    50% {
        transform: translateY(-10px);
        transform: scale(1.005);
    }
    to {
        transform: translateY(0px);
        transform: scale(1);
    }
}
.ship-cabin-dialogue-container{
    display: flex;
    width: 100%;
    position: absolute;
    top: 10vh;
    left: calc(50vw - 150px);
    flex-direction: column;
    align-self: center;
    justify-self: center;
    max-width: 400px;
}
.dialogue-blob{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    background-image: linear-gradient(to right, #FFFFFF 0%, #FAF0E6  51%, #F5F5F5  100%);
    padding: 16px;
    margin: 16px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 6px solid #560F15;
    animation: show-dialogue-box 700ms;
} 

@keyframes show-dialogue-box {
    from {
        transform: rotate(-30deg) translateX(100%) scaleX(-0.1); 
        opacity: 0;
    }
    to {
        transform: rotate(0deg) translateX(0%) scaleX(1); 
        opacity: 1;
    }
}
.char-name-label{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}
.dialogue-box-text{
    margin-left: 16px;
    line-height: 1.5;
}
.dialogue-btns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.cabin-btn{
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 15px;
    border: 2px solid #560F15;
    background-image: linear-gradient(to right, #560F15 0%, #7B3825  51%, #300509  100%);
    transition: transform 0.3 ease-in-out;
    cursor: pointer;
}
.cabin-btn:hover{
    transform: scale(1.1);
}
.cabin-btn:active{
    transform: scale(1);
}
/* \SHIP CABIN */